# dependências
/node_modules

# ambiente
.env
.env.local
.env.*.local

# produção
/dist
/build

# IDEs e SO
.vscode
.idea
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# sistema Vite
*.log
*.cache
*.tsbuildinfo

# arquivos temporários
*.tmp
*.swp

# lockfiles
package-lock.json
pnpm-lock.yaml
yarn.lock

